{% extends "layout_Content.html" %}

{% block content %}

<div class="grid-container fluid information">
    <div class="grid-x">
        <div class="columns medium-4">
            <h1>{{data.user}}</h1>
        </div>
        <div class="columns medium-8">
            <div class="grid-x">
                <div class="columns medium-6">
                    <h3>Datos Personales</h3>
                    <p>Nombre: {{data.lastname}} {{data.firstname}} <br>
                    Correo: {{data.email}}<br>
                    Telefono: {{data.phone}}<br>
                    Carrera: {{data.career}} </p>
                </div>
                <div class="columns medium-6">
                    <h3>Escolaridad</h3>
                    {% for academic in data.academicbackground %}
                         <p><b>{{academic.school}}</b></br>
                        {{academic.career}}</br>
                        {{academic.time}}</p>
                    {% endfor %}
                </div>
                <div class="columns medium-6">
                    <h3>Experiencia laboral</h3>
                    <p>
                        {% for workexperience in data.workexperience %}
                            <b>{{workexperience.company}}</b>
                            {{workexperience.job}}</br>
                            De: {{workexperience.startdate}} a {{workexperience.endtdate}}</br></br>
                        {% endfor %}
                    </p>
                </div>
                <div class="columns medium-6">
                    <h3>Soft skills</h3>
                    <p>
                        {% for softskills in data.softskills %}
                            {{softskills}}</br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="columns medium-12">
            <h3> Title</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure et ipsam autem molestiae quibusdam sit beatae atque optio delectus perspiciatis quasi, recusandae necessitatibus a aut ab placeat consectetur temporibus?
        </div>
        <div class="columns medium-12">
            <h3> Title</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure et ipsam autem molestiae quibusdam sit beatae atque optio delectus perspiciatis quasi, recusandae necessitatibus a aut ab placeat consectetur temporibus?
        </div>
        <div class="columns medium-12">
            <h3> Title</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure et ipsam autem molestiae quibusdam sit beatae atque optio delectus perspiciatis quasi, recusandae necessitatibus a aut ab placeat consectetur temporibus?
        </div>
        <div class="columns medium-10">
        </div>
        <div class="columns medium-1">
            <a class="button secondary" style="width: 95%;" href="{{ url_for('editarPerfil') }}">Editar</a>
        </div>
        <div class="columns medium-1">
            <a class="button alert" style="width: 95%;" >Eliminar</a>
        </div>
    </div>
</div>
{% endblock %}