{% extends "layout_Content.html" %}

{% block content %}

<div class="grid-container fluid">
    <div class="grid-x">
        <div class="columns medium-4">
            <h1>Picture</h1>
        </div>
        <div class="columns medium-8">
            <div class="grid-x">
                <div class="columns medium-6">
                    <h3>Datos Personales</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime modi magni deserunt dolores repellat itaque totam dolorem, omnis cumque quibusdam. Ratione aliquid velit libero omnis laudantium. Nobis, laudantium quae?
                </div>
                <div class="columns medium-6">
                    <h3>Escolaridad</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime modi magni deserunt dolores repellat itaque totam dolorem, omnis cumque quibusdam. Ratione aliquid velit libero omnis laudantium. Nobis, laudantium quae?
                </div>
                <div class="columns medium-6">
                    <h3>Experiencia laboral</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime modi magni deserunt dolores repellat itaque totam dolorem, omnis cumque quibusdam. Ratione aliquid velit libero omnis laudantium. Nobis, laudantium quae?
                </div>
                <div class="columns medium-6">
                    <h3>Datos Personales</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maxime modi magni deserunt dolores repellat itaque totam dolorem, omnis cumque quibusdam. Ratione aliquid velit libero omnis laudantium. Nobis, laudantium quae?
                </div>
            </div>
        </div>
        <div class="columns medium-12">
            <h3> Title</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure et ipsam autem molestiae quibusdam sit beatae atque optio delectus perspiciatis quasi, recusandae necessitatibus a aut ab placeat consectetur temporibus?
        </div>
        <div class="columns medium-12">
            <h3> Title</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure et ipsam autem molestiae quibusdam sit beatae atque optio delectus perspiciatis quasi, recusandae necessitatibus a aut ab placeat consectetur temporibus?
        </div>
        <div class="columns medium-12">
            <h3> Title</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure et ipsam autem molestiae quibusdam sit beatae atque optio delectus perspiciatis quasi, recusandae necessitatibus a aut ab placeat consectetur temporibus?
        </div>
        <div class="columns medium-10">
        </div>
        <div class="columns medium-1">
            <a class="button secondary" style="width: 95%;" href="{{ url_for('editarPerfil') }}">Editar</a>
        </div>
        <div class="columns medium-1">
            <a class="button alert" style="width: 95%;" >Eliminar</a>
        </div>
    </div>
</div>
{% endblock %}